[Unit]
Description=Run mos installer
#After=network-online.target
After=getty.target multi-user.target local-fs.target
Conflicts=getty@tty1.service
OnFailure=poweroff.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/mos-install
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
