[Unit]
Description=Run mos installer
After=getty.target multi-user.target local-fs.target network.target
Conflicts=getty@tty1.service
OnFailure=poweroff.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/mos-install
ExecStartPost=/usr/bin/systemctl poweroff
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
