[Unit]
Description=Provision the TPM
After=getty.target multi-user.target local-fs.target
OnFailure=poweroff.target

[Service]
Type=oneshot
ExecStart=/usr/bin/trust-provision
ExecStartPost=/usr/bin/systemctl poweroff
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
