[Unit]
Description=Run the tpm stuff.
After=getty.target multi-user.target local-fs.target
Conflicts=getty@tty1.service
OnFailure=trust-provision-failed.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/trust-provision
ExecStartPost=/usr/bin/systemctl poweroff
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
